In [18]:
# Import dependencies
import pandas as pd
import os

In [19]:
# Read in csv file
data = pd.read_csv('../Resources/cities.csv')

In [23]:
# Convert to DataFrame
data_df = pd.DataFrame(data)
data_df = data_df[["City", "Country", "Lat", "Max Temp","Humidity", "Cloudiness", "Wind Speed"]]
data_df.head()

           City Country    Lat  Max Temp  Humidity  Cloudiness  Wind Speed
0  jacareacanga      BR  -6.22     89.60        62           0        6.93
1    kaitangata      NZ -46.28     42.61        94         100        5.64
2      goulburn      AU -34.75     44.32        91          20       10.11
3          lata      IN  30.78     59.89        89          76        0.94
4    chokurdakh      RU  70.62     32.17        88           0        2.95

In [24]:
# save data to html
data_df.to_html('../Resources/data.html', index=False)